@font-face {
	font-family: Falsafe;
	font-style: normal;
	font-weight: bold;
	src: url('./Falsafeh-Bold.woff');
}
@font-face {
	font-family: Falsafe;
	font-style: normal;
	font-weight: normal;
	src: url('./Falsafeh-Light.woff');
}

@font-face {
	font-family: Javan;
	font-style: normal;
	font-weight: normal;
	src: url('./Javanweb.woff');
	src: url('./Javanweb.woff2');
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 900;
	src: url(./KalamehWeb-Black.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 800;
	src: url(./KalamehWeb-ExtraBold.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 700;
	src: url(./KalamehWeb-Bold.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 600;
	src: url(./KalamehWeb-SemiBold.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 500;
	src: url(./KalamehWeb-Medium.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 400;
	src: url(./KalamehWeb-Regular.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 300;
	src: url(./KalamehWeb-Light.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 200;
	src: url(./KalamehWeb-ExtraLight.woff);
}

@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: 100;
	src: url(./KalamehWeb-Thin.woff);
}